footer.o-footer
    ul.o-footer__sessions
        li.o-footer__sessions-item
            | Session 1
        li.o-footer__sessions-item
            | Session 2
        li.o-footer__sessions-item
            | Session 3
        li.o-footer__sessions-item
            | Session 4