include ./mixins/toggle.pug

aside.o-settings
    ul.o-settings__menu
        li.o-settings__menu-item
            <span>-</span>
            <span>Short Break: 5</span>
            <span>+</span>
        li.o-settings__menu-item
            <span>-</span>
            <span>Long Break: 15</span>
            <span>+</span>
        li.o-settings__menu-item
            <span>-</span>
            <span>Working Session: 25</span>
            <span>+</span>
        li.o-settings__menu-item
            +toggle('Sessions/Long Breaks Enabled')
            <span>-</span>
            <span>Sessions before long break: 4</span>
            <span>+</span>
